<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link"href="/">All User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addEmp">Add New Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/updateuser">Update/Delete user</a>
    </li>
  </ul>
